extends layout

block content
  h1= title
  p Welcome to #{title}
  table#dataTable.zui-table
    thead
      tr
        th Name
        th Categories
        th Price
        th Currency
        th Actions
    tbody
  input(id="btnDelete" type="button" value="Delete" )

  div
    //- form( id="form")
    input(type="text" name="name" placeholder="Name" class="name")
    input(type="text" name="price" placeholder="Price" class="price")
    input(type="text" name="currency" placeholder="Currency" class="currency")
    input(id="add" type="button" value="Add item" )